<h1>動画</h1>
<%= link_to 'ホーム','top' %>

<%= link_to '登録一覧',entries_path %>

<%= link_to '設定',users_path %>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZTjwBhjvXoc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>