/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
  .data {
    text-align:center;
   }

   .container {
    width: 1300px;
    display: -webkit-flex;
    display: flex;
  }
  .main {
    display: block;
    width: 800px;
    margin-right: 20px;
  }
  .sidebar_l {
    width: 200px;
    background-color: #faee81;
  }
  .sidebar {
    width: 200px;
    background-color: #faee81;
    margin-left: auto;
  }
  .sidebar__item {
    margin-bottom: 20px;
  }
  .sidebar__item--fixed {
    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;
  }

  // youtube responsive
  .youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
  }
  
  .youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .field {
    text-align:center;
    background-color: #bff5f5;
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(253, 203, 136);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  h2 {
    text-align: center;
    margin: 20px auto;
    color: #fff;
  }
  
  .accordion-menu {
    width: 100%;
    max-width: 350px;
    margin: 60px auto 20px;
    background: #fff;
    border-radius: 4px;
  }
  .accordion-menu li.open .dropdownlink {
    color: #CDDC39;
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }
  .accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
  }
  .dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: #212121;
    position: relative;
    transition: all 0.4s ease-out;
    i {
      position: absolute;
      top: 17px;
      left: 16px;
    }
    .fa-chevron-down {
      right: 12px;
      left: auto;
    }
  }
  
  .submenuItems {
    display: none;
    background: #C8E6C9;
    li {
      border-bottom: 1px solid #B6B6B6;
    }
  }
  
  .submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;
    &:hover {
      background-color: #CDDC39;
      color: #fff;
    }
  }