<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">サブメニュー</h2>
    <ul class="channel_list">
    <%= sidebar_link_item('動画', home_calendar_index_path) %>
    <%= sidebar_link_item('器具', home_calendar_index_path) %>
    <%= sidebar_link_item('ダイエット', home_calendar_index_path) %>

    </ul>
  </div>
</div>